[defaults]
inventory= inventory/inventory
strategy_plugins = /var/lib/jenkins/workspace/aws-ansible/ec2-aws/lab-aws/plugin/mitogen-0.2.9/ansible_mitogen/plugins/strategy
strategy = mitogen_linear
callback_whitelist=timer, profile_tasks, profile_roles
host_key_checking = false
remote_user = ec2-user
ask_pass = false
#private_key_file = /root/lab-aws/key-gen/aws-private.pem
roles_path = /root/ec2-aws/lab-aws/roles
[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
